.Rproj.user
.Rhistory
*.Rhistory
.RData
scDD.Rproj
*.Rproj
.gitignore
.Rbuildignore
vignettes/DD.pdf
vignettes/plotGrid-1.pdf
vignettes/*.bbl
vignettes/*.log
vignettes/*synctex.gz
vignettes/*.toc
vignettes/scDD-concordance.tex
vignettes/scDD.pdf
